

*{
    margin: 0;
}

.artikel{
    text-align: center;

}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  font-weight: 300;
}

html {
    background-image: url("../assets/background.jpg");
}
body {
  position: relative;
  height: 100%;
  background: rgba(0,0,0,.3);
  color:black;


}


